#invoke("../_sub/_global.vm")
#set($layout = "master.vm")
#set($left_template = "/dlog_admin/_sub/_left_adminuser.vm")
#set($nav_template = "/dlog_admin/_sub/_nav_adminuser.vm")
##用户是否登录&&(角色管理员||最高权限)
#if($g_user&&$admin_tool.roleIsAdmin($manager)&&$admin_tool.popIsSuper($manager))
#set($name=$dlog.param("name"))
	
#set($url="$dlog.root()/dlog_admin/manager/manager_add.vm")
[添加管理员]
#set($COUNT_PER_PAGE = 50)##每页显示
#if($name!="")
	#set($_count = $admin_tool.userCount($name))##站点总数
#else
	#set($_count = 0)##站点总数
#end
	
#set($p_page = $dlog.param("p", 1))##当前页 默认1
#set($page_count = $dlog.page_count($_count, $COUNT_PER_PAGE))##总页数(计算)

##检查当前页索引
#if($p_page > $page_count)
	#set($p_page = $page_count)
		#elseif($p_page < 1)
				#set($p_page = 1)
#end
#set($pre_page = $p_page - 1)##上一页
#set($next_page = $p_page + 1)##下一页
#if($name!="")
#set($list=$admin_tool.userList($name,$p_page,$COUNT_PER_PAGE))
#else
	#end
<form action="$url"  method="GET" name="form1" id="form1" >
	<input type="text" name="name" id=""class="text_100"/>
	<input type="submit" value="查询" class="button"/>
</form>
<div class="page_top">
	<div class="p_left">总共有&nbsp;$page_count&nbsp;页&nbsp;&nbsp;当前第&nbsp;$p_page&nbsp;页&nbsp&nbsp&nbsp&nbsp;</div>
	<div class="p_left">
		<input type="text" value="" name="p" id="p" class="text_50"/>
		<input type="button" value="跳转" class="button" onclick="if(document.getElementById('p').value!='')document.location.href='$dlog.root()/dlog_admin/manager/manager_add.vm?p='+document.getElementById('p').value"/>
	</div>
	<div class="p_right">
		#if($p_page!="1")
		<a href="$url?p=1&name=$name">首页</a>&nbsp;
		#end
		#if($p_page!="1")
		<a href="$url?p=$pre_page&name=$name">上一页</a>&nbsp;
		#end
		#if(1==1)
			#set($p_temp=$p_page - 3)
			#if($p_temp < 1)
				#set($p_temp=1)
				#end
		<a href="$url?p=$p_temp&name=$name">&nbsp;&lt;&lt;&nbsp</a>
		#end
		#foreach($index in $admin_tool.index_page($p_page, $page_count))
		<a href="$url?p=$index&name=$name">
			#if($index==$p_page)&nbsp;<u>$index</u>&nbsp;
				#else
			&nbsp;$index&nbsp;
			#end</a>			
		#end
		#if(1==1)
			#set($p_temp=$p_page + 3)
			#if($p_temp > $page_count)
				#set($p_temp=$page_count)
				#end
		<a href="$url?p=$p_temp&name=$name">&nbsp;&gt;&gt;&nbsp</a>
		#end
		#if(!($p_page>=$page_count))
		<a href="$url?p=$next_page&name=$name">下一页</a>&nbsp;
		#else
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		#end
		#if(!($p_page>=$page_count))
		<a href="$url?p=$page_count&name=$name">末页</a>&nbsp;
		#else
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		#end
	</div>
</div>
<div class="clear"></div>
<div class="page_content">
	<table  border="0" cellpadding="3" cellspacing="1" class="table_list">
		
		<tr class="titles">
			<td  width="10%">
			</td>
			<td  width="10%">
			</td>
			<td  width="10%">
			</td>
			<td  width="10%">
			</td>
			<td  width="10%">
			</td>
			
		</tr>
		#foreach($l in $list)
			#if((($velocityCount+5) %5) ==1)
				<tr class="contents">
			#end
			<td>ID:$!{l.id}<br/>
				用户名:<a href="javascript:reworkPop($l.id)">
					$!{l.name}
				</a><br />
				昵称:<a href="javascript:reworkPop($l.id)">
					$!{l.nickname}
				</a>
			</td>
			#if((($velocityCount+5) %5) ==0&&$velocityCount==${l.size()})
				<tr />
			#end
		#end
</td>
	</table>
</div>
<link rel="stylesheet" href="$dlog.root()/css/default_002.css" type="text/css" media="all"/>
<link rel="stylesheet" href="$dlog.root()/css/alphacube.css" type="text/css" media="all"/>
<script type="text/javascript" src="$dlog.root()/js/prototype_160.js"></script>
<script type="text/javascript" src="$dlog.root()/js/window.js"></script>

<script>


function setSID(sid,event)
{
	$('sid').value=sid;
	$('submit').name=event;
	$('button').click();
	closeReworkPop();
}

function reworkPop(id)
{
	if(!$("__reworkPop"))
	{
		var url="$dlog.root()/dlog_admin/manager/ajax/rework_pop.vm?rid="+id;	
		Window.hasEffectLib = false;
		var win = new Window("__reworkPop", {className: "alphacube", title:"修改权限", url: url,width:300,height:350,maximizable:false,minimizable:false});
		win.setDestroyOnClose();
		win.showCenter();
	}
}
function closeReworkPop(pop,role,id){
	Windows.close('__reworkPop');
}

</script>
#else
	##没有超级管理员的权限
	对不起,您没有权限.
#end

