#invoke("../_sub/_global.vm")
#set($layout = "master.vm")
#set($left_template = "/dlog_admin/_sub/_left_adminuser.vm")
#set($nav_template = "/dlog_admin/_sub/_nav_adminuser.vm")
#set($rid=$dlog.param("rid",0))
#set($p=$dlog.param("p",0))
#if($manager)##用户存在 用户有权限
[修改口令]
#if($rid!=0&&${g_user.popedom}==5)##rid不为0 用户权限为超级管理员
	#set($user=$USER_tool.user($rid))
	#set($lable="管理员密码")
	#if($p==0)
		#set($url="$dlog.root()/dlog_admin/manager/rework_password.vm?rid=$rid")
	#else
		#set($url="$dlog.root()/dlog_admin/manager/managers.vm?rid=$rid&p=$p")
	#end
#else
	#set($user=$g_user)	
	#set($lable="旧密码")
	#set($url="$dlog.root()/dlog_admin/manager/rework_password.vm")
#end

<link rel="stylesheet" type="text/css" media="all" href="$dlog.root()/css/calendar-blue.css" title="win2k-cold-1" />
<script type="text/javascript" src="$dlog.root()/js/calendar.js"></script>
<script type="text/javascript" src="$dlog.root()/js/calendar_lang/calendar-en.js"></script>
<script type="text/javascript" src="$dlog.root()/js/calendar-setup.js"></script>

<div class="page_content">		
	<form method="POST" action='$link.setAction("/html/admin/query")'>
    <input type="hidden" name="id" value="$!{user.id}"/>
    <input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
	<input type="hidden" name="fromPage" value="$url" id="fromPage">
	<input type="hidden" name="nickname" value="$!{user.nickname}"/>
	<div class="form_row">
    		<div class="form_row_title fleft">
				<b>用户名:$!{user.name}</b>
    		</div>
    		<div class="form_row_content">
				<input type="hidden"  size="8" value="$!{user.name}" disabled />
			</div>
    	</div>
		<div class="spacer_1"></div>		
		<div class="form_row">
    		<div class="form_row_title fleft">
				$lable
    		</div>
    		<div class="form_row_content">
				<input type="password" size="20" maxlength="20" name="password" />
				#struts_message("password")
			</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
				新密码
    		</div>
    		<div class="form_row_content">
				<input type="password" size="20" maxlength="20" name="password2" />
			</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
				密码确认
    		</div>
    		<div class="form_row_content">
				<input type="password" size="20" maxlength="20" name="password3" />
			</div>
    	</div>			
		<div class="form_row">
			<div class="form_row_submit">
				<input type="submit" name="eventSubmit_Update" value="提交修改" />
                <input type="reset" value="重新填写" />
				</div>
    	</div>
	</form>
	</div>

			#else
				##没有任何权限
				对不起,您没有权限.
	#end
