#invoke("../../_sub/_global.vm")
<!DOCTYPE html PUBliC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="Keywords" content="网记,DLOG,DLOG4J,Blog"/>
    <title>网记 个人信息门户 DLOG.CN 后台管理</title>
	<link rel="stylesheet" href="$dlog.root()/styles/master.css" type="text/css" media="all"/>
	<link rel="stylesheet" href="$dlog.root()/styles/global.css" type="text/css" media="all"/>
</head>
<body>
#set($rid = $dlog.param("rid",0))##
#set($p = $dlog.param("p",0))##
#set($pop = $dlog.param("pop",0))##
#set($role = $dlog.param("role",0))##
#set($return = $dlog.param("return"))##

	#if($return==1)
				#if($!{pop}==5)
					#set($popname="最高权限")
				#elseif($!{pop}==4)
					#set($popname="访问列表")
				#elseif($!{pop}==3)
					#set($popname="修改 删除")
				#elseif($!{pop}==2)
					#set($popname="推荐 屏蔽")
				#elseif($!{pop}==1)
					#set($popname="修改 删除 推荐 屏蔽")
				#elseif($!{pop}==0)
					#set($popname="无权限")
				#end
			
				#if($!{role}==4)
					#set($rolename="VIP")
				#elseif($!{role}==3)
					#set($rolename="美工")
				#elseif($!{role}==2)
					#set($rolename="管理员")
				#elseif($!{role}==1)
					#set($rolename="巡视者")
				#elseif($!{role}==0)
					#set($rolename="0")
				#end
	<script >

	parent.closeReworkPop('$popname','$rolename',$rid);
	</script>
	#else

##用户是否登录&&(角色是否为超级管理员||权限是否为超级用户)
#if($g_user&&$admin_tool.roleIsAdmin($manager)&&$admin_tool.popIsSuper($manager))
#set($user = $USER_tool.user($rid))
#if(!$user)##用户id错误 或 没有找到用户
<b>编号为 $!{rid}的用户没找到</b>
#else
	
	#set($url="$dlog.root()/dlog_admin/manager/ajax/rework_pop.vm")
<div class="page_content">		
	<form method="POST" action='$link.setAction("/html/admin/query")'>
    <input type="hidden" name="sid" value="$!{user.id}"/>
    <input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
	<input type="hidden" name="fromPage" value="$url" id="fromPage">
	<div class="form_row">
    		<div class="form_row_title fleft">
				<b>用户名:$!{user.name}</b>
    		</div>
    		<div class="form_row_content">
				<input type="hidden" ext" size="10" value="$!{user.name}" disabled />
				
			</div>
    	</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
    		</div>
    		<div class="form_row_content">
				<input type="text" size="20" maxlength="20" name="nickname" value="$!{user.nickname}" style="display:none"/>
			</div>
    	</div>
		<div class="form_row">
    		<div class="">
				权限:
    		</div>
    		<div class="">
				<input type="radio" name="popedom" id="popedom" value="0"  #if($!user.popedom==0) checked #end/>(无权限)<br />
				<input type="radio" name="popedom" id="popedom" value="1"  #if($!user.popedom==1) checked #end/>(推荐 屏蔽 修改 删除)<br />
				<input type="radio" name="popedom" id="popedom" value="2"  #if($!user.popedom==2) checked #end/>(推荐 屏蔽)<br />
				<input type="radio" name="popedom" id="popedom" value="3"  #if($!user.popedom==3) checked #end/>(修改 删除)<br />
				##<input type="radio" name="popedom" id="popedom" value="4"  #if($!user.popedom==4) checked #end/>(访问列表)<br />
				##<input type="radio" name="popedom" id="popedom" value="5"  #if($!user.popedom==5) checked #end/>(所有权限)<br />
			</div>
    	</div>
		<div class="spacer_5"></div>
		<div class="form_row">
    		<div class="">
				角色:
			</div>
    		<div class="">
				<input type="radio" name="role" id="role" value="0"  #if($!user.role==0) checked #end/>普通用户<br />
				<input type="radio" name="role" id="role" value="1"  #if($!user.role==1) checked #end/>巡视者<br />
				<input type="radio" name="role" id="role" value="2"  #if($!user.role==2) checked #end/>管理员<br />
				<input type="radio" name="role" id="role" value="3"  #if($!user.role==3) checked #end/>美工<br />
				<input type="radio" name="role" id="role" value="4"  #if($!user.role==4) checked #end/>VIP<br />
				
    	</div>
		</div>
		<div class="spacer_1"></div>
		<div class="form_row">
    		<div class="form_row_title fleft">
				<input type="submit" value="提交" name="eventSubmit_UpdatePop"/>
		</div></div>
	</form>
</div>
#end##用户不存在
			#else
				##没有任何权限
				对不起,您没有权限.
	#end
	#end
</body></html>
