#invoke("../_sub/_global.vm")
#set($layout = "master.vm")
#set($left_template = "/dlog_admin/_sub/_left_diary.vm")
#set($nav_template = "/dlog_admin/_sub/_nav_diary.vm")
#if($g_user&&($admin_tool.roleIsAdmin($manager)||$admin_tool.roleIsInspector($manager)||$admin_tool.popIsVisit($manager)))

#set($status=$dlog.param("status",1))##状态
#set($p_page = $dlog.param("p", 1))##当前页 默认1
#set($COUNT_PER_PAGE = 10)##每页显示
#set($_count = $admin_tool.tags_count())##站点总数
#set($page_count = $dlog.page_count($_count, $COUNT_PER_PAGE))##总页数(计算)

##检查当前页索引
#if($p_page > $page_count)
	#set($p_page = $page_count)
		#elseif($p_page < 1)
				#set($p_page = 1)
#end
#set($pre_page = $p_page - 1)##上一页
#set($next_page = $p_page + 1)##下一页

[关键字列表]
	#set($slist=$admin_tool.tags_list($p_page,$COUNT_PER_PAGE))
	
	<form action="$link.setAction('/html/admin/query')"  method="POST" name="form1" id="form1">
	<input type="hidden" name="status" id="status" value="$status">
	<input type="hidden" name="fromPage" id="fromPage" value="$dlog.root()/dlog_admin/diary/tags_list.vm?p=$p_page">
	<input type="submit" name="" id="submit" value="HTML" style="display:none">
</form>
#set($url="$dlog.root()/dlog_admin/diary/tags_list.vm?1=1")
#set($tagurl="$dlog.root()/dlog_admin/diary/showtag.vm?type=1&tag=")
<div class="page_top">
	##索引
	#invoke("/dlog_admin/page_index.vm")
</div>
<div class="clear"></div>
<div class="page_content">
	<table  border="0" cellpadding="3" cellspacing="1" class="table_list">
		<tr class="titles">
		
			<td>关键字</td>
			<td>日记引用数</td>
			<td>照片引用数</td>
			<td>管理</td>
		</tr>
		#foreach($list in $slist)
				<tr class="contents">
					#set($ssi = $STAT_tool.get_site_stat_info($list))
					#set($dsi = $STAT_tool.get_dlog_stat_info($list))
					#foreach($l in $list)
						#if($velocityCount==1)
						<td><a href="$tagurl$link.encodeURL($l)" target="_blank" >$l</a></td>
							#else
									<td>$l</td>
								#end
					
						#end		
			<td>
			</td>
		</tr>
		#end
	</table>
</div>
<div class="page_top">
	##索引
	#invoke("/dlog_admin/page_index.vm")
</div>
#else
	对不起,您没有权限.
	#end