#invoke("../_sub/_global.vm")
#set($layout = "master.vm")
#set($left_template = "/dlog_admin/_sub/_left_site.vm")
#set($nav_template = "/dlog_admin/_sub/_nav_site.vm")
#if($g_user&&($admin_tool.roleIsAdmin($manager)||$admin_tool.roleIsInspector($manager)||$admin_tool.roleIsVip($manager)))
##删除 修改
#set($pop1=($admin_tool.roleIsAdmin($manager)&&($admin_tool.popIsAll($manager)||$admin_tool.popIsOperate($manager)||$admin_tool.popIsSuper($mnanager))))
##推荐 屏蔽
#set($pop2=($admin_tool.popIsAll($manager)||$admin_tool.popIsManage($manager)||$admin_tool.popIsSuper($mnanager)))

#set($status=$dlog.param("status",1))##状态
#set($p_page = $dlog.param("p", 1))##当前页 默认1
#set($COUNT_PER_PAGE = 10)##每页显示
#set($_count = $admin_tool.site_count())##站点总数
#set($page_count = $dlog.page_count($_count, $COUNT_PER_PAGE))##总页数(计算)

##检查当前页索引
#if($p_page > $page_count)
	#set($p_page = $page_count)
		#elseif($p_page < 1)
				#set($p_page = 1)
#end
#set($pre_page = $p_page - 1)##上一页
#set($next_page = $p_page + 1)##下一页
#if($status==1||$status>3||$status<1)
	#set($status=1)##状态
				 ##未开通站点的用户		
				 #set($slist=$admin_tool.not_create_site_list($p_page, $COUNT_PER_PAGE))
				#elseif($status==2)
					## 开通站点的用户
					  #set($slist=$admin_tool.create_site_list($p_page, $COUNT_PER_PAGE))
					#elseif($status==3)
						##月无登录用户
						 #set($slist=$admin_tool.month_not_login_site_list($p_page, $COUNT_PER_PAGE))
#end
#set($url="$dlog.root()/dlog_admin/site/site_user.vm?status=$status")
<div class="page_top">
	##索引
	#invoke("/dlog_admin/page_index.vm")
</div>
<div class="clear"></div>
<div class="page_content">
	<table  border="0" cellpadding="3" cellspacing="1" class="table_list">
		<tr class="titles">
			<td>编号</td>
			<td>用户名</td>
			<td>昵称</td>
			<td>性别</td>
			<td>电子邮件</td>
			<td>QQ</td>
			<td>MSN</td>
			<td>地区(省/市)</td>
			<td>注册日期</td>
			##<td>注册来源</td>
			<td>管理</td>
		</tr>
		#foreach($list in $slist)
		<tr class="contents">
			<td>$!{list.id}</td>
			<td><a href="$dlog.root()/dlog/accounts/viewuser.vm?sid=1&uid=1" target="_blank" title="点击查看用户站点">$!{list.name}</a></td>
			<td><a href="$dlog.root()/dlog/accounts/viewuser.vm?sid=$list.id&uid=$list.id" target="_blank" title="点击查看用户详细资料">$!{list.nickname}</a></td>
			<td>
				#if($!{list.sex}==0)
					保密
					#elseif($!{list.sex}==1)
						男
						#elseif($!{list.sex}==2)
							女
						#end
			</td>
			<td>$!{list.email}</td>
			<td>$!{list.qq}</td>
			<td>$!{list.msn}</td>
			<td>
				
					$!{list.province}/$!{list.city}
			
			</td>
			<td>$date.format("yyyy/MM/dd HH:mm",$!{list.regTime})</td>
			##<td>$!{}</td>
			<td>##权限
				#if($pop1)<a href="$dlog.root()/dlog_admin/rework_datum.vm?rid=$list.id" target="_blank">修改用户资料</a>#end
			</td>
		</tr>
		#end
	</table>
</div>
<div class="clear"></div>
<div class="page_top">
	##索引
	#invoke("/dlog_admin/page_index.vm")
</div>
<div class="clear"></div>
#else
	对不起,您没有权限.
#end
