#invoke("/html/_sub/_global.vm")
#select_layout("p_setting.vm")

#set($page_title="管理分组")
#set($frindegrouplist='')
#set($sid = $dlog.param("sid"))

#if(!$dlog.is_owner($g_site, $g_user))
#invoke("/html/friend/_illegal_access.vm")
#else
	
#set($frindegrouplist = $FRIEND_tool.showFriendV($!{g_user.id}))
#set($fgcount=$frindegrouplist.size())

	#if($!{fgcount})
	<form action="$link.setAction("/html/friend")"  method="POST" name="form" id="form">
	<input type="hidden" name="groupid" id="groupid" value="">
	<input type="hidden" name="userid" id="userid" value="$!{g_site.owner.id}">	
	<input type="hidden" name="fromPage" id="fromPage" value="$dlog.root()/html/sitemgr/manage_group.vm?sid=$g_site_id">
	<input type="submit" name="" id="submit" value="HTML" style="display:none">
</form>
<div class="page_top">
	<div class="pagecontent">
		<div class="pagecontent_left fleft">
			<b>好友分组</b>&nbsp;&nbsp;共有 $!{fgcount} 个分组
			#if($dlog.is_owner($g_site, $g_user))
				(<a href="javascript://"onclick="href='$dlog.root()/html/sitemgr/add_f_group.vm?sid=$!{g_site.id}'">$html.img("/html/icon/default/add.gif","添加分组")添加分组</a>)
				#end
		</div>
		<div class="pagecontent_right fright">
			今天是: $date.get("MMMMM d, yyyy  EEEEE")
		</div>
	</div>
	<div class="spacer_1"></div>
</div>
	#end
	#if($fgcount>0)	
	<div class="page_content">
    	<div class="setting_body">	
			<table cellspacing="1" cellpadding="3" border="0" width="100%" class="table">
    			<tr class="table_head">
					<td>名称</td>
					<td>类型</td>
        			#if($dlog.is_owner($g_site, $g_user))<td>设置</td>#end
            		#if($dlog.is_owner($g_site, $g_user))<td>删除</td>#end
    			</tr>
				<tr class="table_cell">	
					<td ><a href="$dlog.root()/html/friend/blacklist.vm?sid=$g_site.id">[黑名单]</a></td>
					<td >&lt;系统&gt;</td>
					#if($dlog.is_owner($g_site, $g_user))
					<td ></td>
					<td ></td>
					#end
				</tr>
				#foreach(${friend} in ${frindegrouplist})
				#if($dlog.is_owner($g_site, $g_user))##站点拥有着
					<tr class="table_cell">						
    					<td><a href="/html/friend/show_friend.vm?sid=$g_site_id&group_id=$!{friend.groupid}">
								[$!{friend.groupname}]</a></td>
    					<td>#if(${friend.grouptype}==0)<公开>#elseif($!{friend.grouptype}==1)<私有>#elseif($!{friend.grouptype}==2)<默认>#end</td>												
    					#if($dlog.is_owner($g_site, $g_user))<td align="center"><a href="javascript:// "onclick="href='/html/sitemgr/update_f_group.vm?sid=$g_site_id&group_id=$!{friend.groupid}'">$html.img("/html/icon/default/settings.gif",null,"setting","absmiddle",0)</a></td>#end
                		#if($dlog.is_owner($g_site, $g_user))<td align="center">#if($!{friend.grouptype}!=2)<a href="javascript://" onclick="javascript:setSID($!{friend.groupid},'eventSubmit_Delete')" >$html.img("/html/icon/default/icon_delete.gif",null,"del","absmiddle",0)</A>#end</td>#end
					</tr>					
				#end
				#end
    		</table>
    	</div>
    </div>
	<div class="spacer_10"></div>
</div>
#end
#if($fgcount>=0)
<div class="form_row">
		<div class="form_row_submit">
			<input type="button" class="button" name="btn_return" value="返回上页" onclick="history.go(-1)" />
    	<input type="button" value="返回首页" onclick="location.href='$dlog.root()/#if($g_site)?sid=${g_site_id}#end';"/>		
		</div>
			</div>
#end	
	<script type="text/javascript" >
function setSID(sid,event)
{
	if(confirm('是否真的删除分组?删除后系统会将该分组下所有用户转移至默认分组'))
	{
		document.getElementById('groupid').value=sid;
		document.getElementById('submit').name=event;
		document.getElementById('submit').click();
	}
	
}
	</script>
#end
