##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  Home page of style setting
##
###############################################################################
#parse("/html/_sub/_global.vm")
#select_layout("p_setting.vm")
#set($page_title="网站样式设置")
#alert_msg("site")
<div class="page_top">
	<div class="pagecontent">
		<div class="pagecontent_left fleft">
			<b>$page_title</b>
		</div>
		<div class="pagecontent_right fright">
			今天是: $date.get("MMMMM d, yyyy  EEEEE")
		</div>
	</div>
	<div class="spacer_1"></div>
</div>
#set($__layout_name = $dlog.param("template","1"))

#set($__layout = $dlog.get_layout($__layout_name))
<div class="page_content">
	<form action="$link.setAction("html/sitemgr/site")" method="POST">
    <input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
    <input type="hidden" name="id" value="$g_site_id"/>
    <input type="hidden" name="sid" value="$g_site_id"/>
    <input type="hidden" name="fromPage" value="$dlog.get_request_url()"/>
    <input type="hidden" name="layoutFile" value="$__layout_name"/>
	<input type="hidden" name="layoutChile" value="$__layout_name"/>
	<table width="100%" border="0">
	<tr><td align="center">
		已选中的布局预览图<br/>
		<img src="$dlog.root()/styles/${__layout_name}/preview.gif"/>
	</td></tr>
	</table>
	<table width="100%" border="0" class="table">
		<tr><td>请选择此布局下的颜色列表:</td></tr>
        <tr height="20">
        	<td bgcolor="#ffffff" align="center" width="20%">
    			<input type="radio" name="cssFile" value="main.css" checked="true"/> 默认样式
    		</td>
        	#foreach($css in ${__layout.styles})
        	<td bgcolor="#${css.color}" style="border-left:#666666 2px solid" align="center"><input type="radio" name="cssFile" value="${css.fileName}"/></td>
        	#end
        </tr>
    </table>
	<table width="100%" border="0">
	<tr><td align="center">
		<input type="button" value="重新选择风格" onclick="history.go(-1);"/>
		<input type="submit" name="eventSubmit_UpdateStyle" value="保存选中风格"/>
	</td></tr>
	</table>
	</form>
</div>
</form>
<div class="page_bottom"></div>