##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  drafts view
##
###############################################################################
#parse("/html/_sub/_global.vm")
#select_layout("p_diary.vm")
#set($page_title="草稿箱")
###############################################################################
#if(!$g_user)
    #show_msg_box("用户尚未登录,点击<a href='$dlog.root()/dlog/login.vm?sid=$g_site_id'>这里</a>登录")
#else
#set($logs = $DIARY_tool.list_drafts($g_site, $g_user))
#set($g_draft_count=$logs.size())

<div class="page_top diary">
	<div class="diary_catalog_name">
		<h4><span class="catalog_count"><b>共有草稿 ${g_draft_count} 篇!</b></span></h4>
	</div>
</div>
#if($logs && $logs.size()>0)
<div class="page_content diary">
    #set($no_bookmark_link = true) ##不显示存为书签的链接
	#set($catalog_id=-1)
    #foreach($log in $logs)
		#set($show_log_url = "$dlog.root()/html/diary/showlog.vm?sid=$g_site_id&amp;log_id=${log.id}")
    	
    	<div class="diary_list_module">
        	<div class="diary_list_module_top">#invoke("_log_title_bar.vm")</div>
        	<div class="diary_list_module_content">
				#set($preview_content = ${log.previewContent})
    			#set($preview_content = ${log.previewContent})
    			#if(${log.client.type}==2)
    				<div class="Mobile_preview">
    					<div class="Mobile_preview_top"></div>
        				<div class="Mobile_preview_content">${preview_content}</div>
    					<div class="Mobile_preview_bottom"></div>
        			</div>
            	#else
    				${preview_content}
            	#end
    			
    			#if($preview_content.length() < $log.content.length())
    				<div class="diary_read_more"><a href="$show_log_url">阅读全文&raquo;</a></div>
    			#end
    			#if($dlog.not_empty($log.keyword))
        			<div class="diary_tags">
        				<ul>
    						<li class="diary_tags_title"><h2>关键字: </h2></li>
        					#foreach($tag in $log.keywords)
        						<li><h3><a href="$dlog.root()/html/showtag.vm?sid=$g_site_id&amp;type=1&amp;tag=$link.encodeURL($tag)">${tag}</a></h3></li>
            				#end
        				</ul>
    					<div class="clear"></div>
        			</div>
    			#end
        	</div>
    		<script type="text/javascript">
            var sto=null;
            function showMenu(menuid){
            	var menu = document.getElementById(menuid);
            	menu.style.display='block';
            	clearHideMenuTimer();
            }
            function hideMenu(menuid){
            	sto=window.setTimeout("document.getElementById('"+menuid+"').style.display='none';", 100);
            }
            function clearHideMenuTimer(){
            	window.clearTimeout(sto);
            	sto=null;
            }
            </script>
        	<div class="diary_list_module_bottom">#invoke("_log_bottom_bar.vm")</div>
    		
    	</div>
	#end
</div>
<div class="page_bottom diary"></div>
#end
#end