##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  user login
##
###############################################################################
#invoke("_global.vm")
#set($layout = "accounts.vm")
#set($page_title = "登录")

#set($g_disable_seachable=1)
#set($next_uri=$dlog.param("fromPage",""))
#set($site_id=$dlog.param("sid",-1))
#set($fbean = $form.getBean())
<div class="page_left">
    <div class="top"></div>
    <div class="content">
    	#show_error_msg()
    	<form action="$link.setAction("dlog/user")" method="post">
        <input type="hidden" name="__ClientId" value="$dlog.gen_client_id()"/>
    	#if($dlog.not_empty(${fbean.fromPage}))
        <input type="hidden" name="fromPage" value="${fbean.fromPage}"/>
    	#else
        <input type="hidden" name="fromPage" value="$next_uri"/>
    	#end
    	#if($site_id > 0)<input type="hidden" name="sid" value="$site_id"/>#end
    	<div class="form_login">
			<div class="form_login_top"></div>
			<div class="form_login_module">
    			<div class="form_login_title">用户名:</div>
        		<div class="form_login_content"><input type="text" name="name" value="$!{fbean.name}"/></div>
				<div class="clear"></div>
			</div>
			<div class="form_login_module">
    			<div class="form_login_title">口令:</div>
        		<div class="form_login_content"><input type="password" name="password" value=""/></div>
				<div class="clear"></div>
			</div>
			<div class="form_login_module">
    			<div class="form_login_title">登录信息:</div>
        		<div class="form_login_content">
					<select name="keepDays">
                        <option value="-1">不保存</option>
                        <option value="1">保存一天</option>
                        <option value="7">保存一周</option>
                        <option value="30">保存一月</option>
                        <option value="365" selected>保存一年</option>
                    </select>
				</div>
				<div class="clear"></div>
			</div>
			<div class="form_login_module">
				<input type="submit" name="eventSubmit_Login" value="登录"/>
				&nbsp;
				<a href="#" onclick="fetchpwd();return false;">忘了密码？</a>&nbsp;|&nbsp;<a href="$dlog.root()/dlog/accounts/reguser.vm">免费注册</a>
			</div>
			<div class="form_login_bottom"></div>
    	</div>
    	</form>
    </div>
    <div class="bottom"></div>
</div>
<div class="page_right">
</div>

<script language="javascript" type="text/javascript">
function fetchpwd(){
	var url = "$dlog.root()/dlog/accounts/fetchpwd.vm?sid=$g_site_id";
	window.open(url,'share',"height=200,width=400,status=yes,toolbar=no,menubar=no,location=no");
}
</script>