##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  enter a reply
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($close_search_robots = true)
#set($page_title="我要评论")
#set($log_id = $dlog.param("log_id", -1))
#set($log = $DIARY_tool.diary($g_site, $g_user, $log_id))
<p>
	#invoke("_diary_nav_bar.vm")
#if($log && ${log.status}==0)
    #wml_error_msg()
	#set($random=$math.random(1,10000))
	日记:<a href="$dlog.root()/wml/diary/show.vm?sid=$g_site_id&amp;log_id=${log.id}">$text.html(${log.title})</a><br/>
	内容:<input type="text" name="jr_$random" value=""/><br/>
	评论者:<input type="text" name="author" value="$text.html($!{g_user.nickname})" size="8"/><br/>
	#if(!$g_user)校验码:&nbsp;<input type="text" size="5" maxlength="4" name="vc_$random" format="*N"/>&nbsp;<img src="$dlog.root()/servlet/verify.img" alt=""/>	#end
	<anchor>提交评论
        <go href="$link.setAction("wml/reply")" method="post">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="log_id" value="$log_id"/>
            <postfield name="parentId" value="$log_id"/>
            <postfield name="clientType" value="2"/>
            <postfield name="author" value="$(author)"/>
            <postfield name="content" value="$(jr_$random)"/>
            <postfield name="verifyCode" value="$(vc_$random)"/>
            <postfield name="__ClientId" value="$dlog.gen_client_id()"/>
			#if($g_user)<postfield name="uuid" value="${g_user.uniqueCode}"/>#end
            <postfield name="eventSubmit_AddDiaryReply" value="WML"/>
        </go>
    </anchor>
#else
	日记不存在！
#end
</p>