##
##  This program is free software; you can redistribute it and/or modify
##  it under the terms of the GNU General Public License as published by
##  the Free Software Foundation; either version 2 of the License, or
##  (at your option) any later version.
##
##  This program is distributed in the hope that it will be useful,
##  but WITHOUT ANY WARRANTY; without even the implied warranty of
##  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
##  GNU Library General Public License for more details.
##
##  You should have received a copy of the GNU General Public License
##  along with this program; if not, write to the Free Software
##  Foundation, Inc., 59 Temple Place - Suite 330, Boston, MA 02111-1307, USA.
##
##  show all diarys of all sites
##
###############################################################################
#parse("/wml/_sub/_global.vm")
#set($PAGE_SIZE = 10)
#set($p_page = $dlog.param("p", 1))
#set($page_title="最新日记")
#set($log_count = 5000)
#set($page_count = $dlog.page_count($log_count, $PAGE_SIZE))
<p>
    最新${log_count}篇日记.<br/>
	<input type="text" name="key" size="10" emptyok="true"/>
    <anchor>$text.wml("search")
        <go href="$dlog.root()/wml/search.vm" method="get">
            <postfield name="sid" value="$g_site_id"/>
            <postfield name="scope" value="0"/>
            <postfield name="key" value="$(key)"/>
        </go>
    </anchor>
</p>
<p>
	第${p_page}页,共${page_count}页,每页${PAGE_SIZE}条.<br/>
	#wml_pager("$dlog.root()/wml/logs.vm?" $p_page $page_count)<br/>
#set($logs = $DLOG4J_tool.list_new_articles($p_page, $PAGE_SIZE))
#set($base_idx = ($p_page - 1)*$PAGE_SIZE)
#foreach($log in $logs)
	#set($idx = $base_idx + $velocityCount)
	${idx}.<a href="diary/show.vm?sid=${log.site.id}&amp;log_id=${log.id}">$text.html(${log.title})</a>(<a href="diary/diary_rpls.vm?sid=${log.site.id}&amp;log_id=${log.id}">${log.replyCount}</a>评/${log.viewCount}阅/$date.format("MM-dd HH:mm",${log.writeTime}))<br/>
#end
	#wml_pager("$dlog.root()/wml/logs.vm?" $p_page $page_count)<br/>
	#wml_gopage("$dlog.root()/wml/logs.vm?" $p_page $page_count)
</p>