<a href="$dlog.root()/${g_site.uniqueName}">$!{g_site.friendlyName}</a>&nbsp;
&#153;&nbsp;$date.get("yyyy")&nbsp;&copy;&nbsp;All Right Reserved.&nbsp;&nbsp;
Powered by <a href="http://www.dlog4j.com" target="_blank">DLOG4J&nbsp;E3.5</a>&nbsp;
#if($g_site && $dlog.not_empty(${g_site.icpNumber}))
&nbsp;<a href="http://www.miibeian.gov.cn" target="_blank">${g_site.icpNumber}</a>
#end